version: "3.7"

services:
    canvasgrid:
        build: ./
        image: sdeeze/canvasgrid:${buildno-latest}
        container_name: canvasgrid
        restart: unless-stopped
        ports:
            - "8001:80"
            - "8002:443"
        environment: 
            - ASPNETCORE_URLS=https://+:443;http://+:80
        volumes:
            - /home/ubuntu/canvasgrid/Images:/canvasgrid/wwwroot/Images
