services:
    canvasgrid:
        build: ./
        image: sdeeze/canvasgrid:${buildno-latest}
        container_name: canvasgrid
        restart: unless-stopped
        ports:
            - "8001:80"
            - "8002:443"
        environment: 
            - ASPNETCORE_URLS=https://+:443;http://+:80
            - ASPNETCORE_URLS=https://+:443
            - Kestrel__Endpoints__Https__Url=https://*:443
            - Kestrel__Endpoints__Https__Certificate__Path=/run/secrets/site_cert
            - Kestrel__Endpoints__Https__Certificate__KeyPath=/run/secrets/site_key
        secrets:
            - site_cert
            - site_key
        volumes:
            - /home/ubuntu/canvasgrid/Images:/canvasgrid/wwwroot/Images
            - /data/certificates:/canvasgrid/certificates

secrets:
  site_cert:
    file: ./data/certificates/fullchain1.pem
  site_key:
    file: ./data/certificates/privkey1.pem
