<div *ngIf="!selectedGrid" class="container">
    <div class="row">
        <div *ngFor="let grid of grids; let i = index">
            <img (click)="showGrid(grid);" [src]="getLinkImage(grid)" alt="image placeholder" />
        </div>
    </div>
</div>

<div class="container" ng-hide="!selectedGrid">
    <div class="row">
        <canvas id="canvas" class="canvas" width="800" height="480"></canvas>
    </div>
    <div clas="row">
        <button type="button" class="btn btn-primary" (click)="saveGrid();">Save</button>
        <button type="button" class="btn btn-danger" (click)="cancelGrid();">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="revertGrid();">Revert</button>
    </div>
</div>