<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/wordpress/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/CanvasGrid/">CanvasGrid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CardGame/">CardGame</a>
            </li>
        </ul>
    </div>
</nav>

<div *ngIf="rowGrids && !selectedGrid">
    <div class="row row-no-padding flex-nowrap">
        <div *ngFor="let grids of rowGrids; let i = index">
            <div *ngFor="let grid of grids" #grids>
                <img *ngIf="grid && grid.image" [id]="'grid' + grid.id" (click)="showGrid(grid);" [src]="grid.image"
                    alt="User Drawn Image" />
                <div *ngIf="grid && !grid.image" [id]="'grid' + grid.id" (click)="showGrid(grid);"></div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-hide="!selectedGrid">
    <div class="row">
        <canvas id="canvas" class="canvas" width="800" height="480"></canvas>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="uploadImage($event)" #fileInput type="file" id="file" accept="image/x-png,image/gif,image/jpeg">
        </div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" (click)="saveGrid();">Save</button>
            <button type="button" class="btn btn-danger" (click)="cancelGrid();">Cancel</button>
            <button type="button" class="btn btn-warning" (click)="revertGrid();">Revert</button>
        </div>
    </div>
</div>

<footer id="footer" class="footer">
    <button type="button" class="btn btn-primary" (click)="seizureMode();">Seizure Mode!</button>
</footer>