<div *ngIf="!selectedGrid" class="container">
    <div class="row">
        <div *ngFor="let grid of grids; let i = index">
            <img *ngIf="!grid.used" (click)="showGrid(grid);" src="{{grid.image}}" alt="image placeholder"
                style="max-width: 100px; max-height: 100px;" />
        </div>
    </div>
</div>

<div *ngIf="selectedGrid" class="container">
    <div class="row">
        <canvas id="canvas" class="canvas" width="800" height="480"></canvas>
    </div>
    <div clas="row">
        <button type="button" class="btn btn-primary" (click)="saveGrid();">Save</button>
        <button type="button" class="btn btn-danger" (click)="cancelGrid();">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="revertGrid();">Revert</button>
    </div>
</div>