.container {
  flex-wrap: nowrap;
}

.canvas {
  border: 2px solid black;
}

.row-no-padding div div {
  width:  90px;
  height: 56px;
}

.row-no-padding div div{
  padding: 0 !important;
  border: 1px solid #021a40;
  object-fit: cover;
}

.row-no-padding div img {
  padding: 0 !important;
  border: 1px solid #021a40;
  width: 100%;
  object-fit: cover;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}