@if (rowGrids) {
  <div>
    <div class="row row-no-padding flex-nowrap">
      @for (grids of rowGrids; track grids; let i = $index) {
        <div>
          @for (grid of grids; track grid) {
            <div #grids>
              @if (grid && grid.image) {
                <img [id]="'grid' + grid.id" (click)="showGrid(grid);" [src]="grid.image"
                  alt="User Drawn Image" />
              }
              @if (grid && !grid.image) {
                <div [id]="'grid' + grid.id" (click)="showGrid(grid);"></div>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
}

<footer id="footer" class="footer">
  <button type="button" class="btn btn-primary" (click)="seizureMode();">Seizure Mode!</button>
  <button type="button" class="btn btn-primary" (click)="simpsonsSeizureMode();">Simpsons Seizure Mode!</button>
</footer>
